In [2]:
import pandas as pd
import numpy as np
np.set_printoptions(threshold=np.inf)
pd.set_option('display.max_columns', None)

In [3]:
df = pd.read_csv("2024_V1.csv")

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5539509 entries, 0 to 5539508
Data columns (total 33 columns):
 #   Column               Dtype
---  ------               -----
 0   DAY_OF_WEEK          int64
 1   MKT_CARRIER          object
 2   OP_CARRIER           object
 3   TAIL_NUM             object
 4   ORIGIN               object
 5   ORIGIN_CITY_NAME     object
 6   ORIGIN_STATE_NM      object
 7   DEST                 object
 8   DEST_CITY_NAME       object
 9   DEST_STATE_NM        object
 10  CRS_DEP_TIME         int64
 11  DEP_TIME             int64
 12  DEP_DELAY            int64
 13  TAXI_OUT             int64
 14  WHEELS_OFF           int64
 15  WHEELS_ON            int64
 16  TAXI_IN              int64
 17  CRS_ARR_TIME         int64
 18  ARR_TIME             int64
 19  ARR_DELAY            int64
 20  CRS_ELAPSED_TIME     int64
 21  ACTUAL_ELAPSED_TIME  int64
 22  AIR_TIME             int64
 23  DISTANCE             int64
 24  DATE                 object
 25  ORIGIN_TZ            object
 26  DEST_TZ              object
 27  DEP_TIME_UTC         object
 28  CRS_DEP_TIME_UTC     object
 29  WHEELS_OFF_UTC       object
 30  ARR_TIME_UTC         object
 31  CRS_ARR_TIME_UTC     object
 32  WHEELS_ON_UTC        object
dtypes: int64(15), object(18)
memory usage: 1.4+ GB

In [5]:
df.head()

,DAY_OF_WEEK,MKT_CARRIER,OP_CARRIER,TAIL_NUM,ORIGIN,ORIGIN_CITY_NAME,ORIGIN_STATE_NM,DEST,DEST_CITY_NAME,DEST_STATE_NM,CRS_DEP_TIME,DEP_TIME,DEP_DELAY,TAXI_OUT,WHEELS_OFF,WHEELS_ON,TAXI_IN,CRS_ARR_TIME,ARR_TIME,ARR_DELAY,CRS_ELAPSED_TIME,ACTUAL_ELAPSED_TIME,AIR_TIME,DISTANCE,DATE,ORIGIN_TZ,DEST_TZ,DEP_TIME_UTC,CRS_DEP_TIME_UTC,WHEELS_OFF_UTC,ARR_TIME_UTC,CRS_ARR_TIME_UTC,WHEELS_ON_UTC
0,1,AA,AA,N656AW,MSN,Madison,Wisconsin,CLT,Charlotte,North Carolina,605,600,-5,24,624,901,10,916,911,-5,131,131,97,708,2024-01-01,America/Chicago,America/New_York,2024-01-01 12:00:00+00:00,2024-01-01 12:05:00+00:00,2024-01-01 12:24:00+00:00,2024-01-01 14:11:00+00:00,2024-01-01 14:16:00+00:00,2024-01-01 14:01:00+00:00
1,1,AA,AA,N912UY,CLT,Charlotte,North Carolina,STL,St. Louis,Missouri,2255,2306,11,12,2318,2340,19,2359,2359,0,124,113,82,575,2024-01-01,America/New_York,America/Chicago,2024-01-02 04:06:00+00:00,2024-01-02 03:55:00+00:00,2024-01-02 04:18:00+00:00,2024-01-02 05:59:00+00:00,2024-01-02 05:59:00+00:00,2024-01-02 05:40:00+00:00
2,1,AA,AA,N111US,PHL,Philadelphia,Pennsylvania,CLT,Charlotte,North Carolina,1737,1901,84,31,1932,2045,7,1929,2052,83,112,111,73,449,2024-01-01,America/New_York,America/New_York,2024-01-02 00:01:00+00:00,2024-01-01 22:37:00+00:00,2024-01-02 00:32:00+00:00,2024-01-02 01:52:00+00:00,2024-01-02 00:29:00+00:00,2024-01-02 01:45:00+00:00
3,1,AA,AA,N854NN,DFW,Dallas/Fort Worth,Texas,STL,St. Louis,Missouri,2109,2134,25,12,2146,2259,6,2253,2305,12,104,91,73,550,2024-01-01,America/Chicago,America/Chicago,2024-01-02 03:34:00+00:00,2024-01-02 03:09:00+00:00,2024-01-02 03:46:00+00:00,2024-01-02 05:05:00+00:00,2024-01-02 04:53:00+00:00,2024-01-02 04:59:00+00:00
4,1,AA,AA,N449AN,LAS,Las Vegas,Nevada,CLT,Charlotte,North Carolina,800,755,-5,18,813,1451,8,1513,1459,-14,253,244,218,1916,2024-01-01,America/Los_Angeles,America/New_York,2024-01-01 15:55:00+00:00,2024-01-01 16:00:00+00:00,2024-01-01 16:13:00+00:00,2024-01-01 19:59:00+00:00,2024-01-01 20:13:00+00:00,2024-01-01 19:51:00+00:00

In [6]:
# Kategorik olması gereken sütunları dönüştürelim
cat_columns = ["MKT_CARRIER", "OP_CARRIER", "TAIL_NUM", "ORIGIN", "ORIGIN_CITY_NAME",
               "ORIGIN_STATE_NM", "DEST", "DEST_CITY_NAME", "DEST_STATE_NM"]

for col in cat_columns:
    df[col] = df[col].astype("category")